<!-- Themes Login + logo -->
<ion-content has-header>
    <ion-grid *ngIf="data != null">
        <ion-row padding-horizontal align-self-center>
            <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <button ion-button text-capitalize button-clear clear float-left (click)="onEvent('onSkip')">{{data.skip}}</button>
                <button ion-button text-capitalize button-clear clear float-right (click)="onEvent('onForgot')">{{data.forgotPassword}}</button>
            </ion-col>
            <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!--DESCRIPTION-->
                <ion-item no-lines no-padding>
                    <h2 ion-text color="dark" login-subtitle text-wrap>{{data.subtitle}}</h2>
                    <h1 no-margin login-title text-wrap>{{data.title}}</h1>
                    <!--LOGO-->
                    <img [src]="data.logo">
                </ion-item>
            </ion-col>
            <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!---Input field username-->
                <ion-item no-padding transparent>
                    <ion-label color="dark" stacked>{{data.labelUsername}}</ion-label>
                    <ion-input required placeholder="{{data.username}}" type="text" [(ngModel)]="username"></ion-input>
                </ion-item>
                <!---Input field password-->
                <ion-item no-padding transparent>
                    <ion-label color="dark" stacked>{{data.labelPassword}}</ion-label>
                    <ion-input required placeholder="{{data.password}}" type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <!---Login button-->
                <button ion-button button-clear float-right clear text-capitalize (click)="onEvent('onRegister')">{{data.register}}</button>
                <!---Register button-->
                <button ion-button button-clear clear float-right text-capitalize (click)="onEvent('onLogin')">{{data.login}}</button>
            </ion-col>
            <!---Share Section-->
            <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 social>
                <!---Facebook button-->
                <button ion-button text-capitalize default-button color="facebook" (click)="onEvent('onFacebook')">Facebook</button>
                <!---Twitter button-->
                <button ion-button text-capitalize default-button color="twitter" (click)="onEvent('onTwitter')">Twitter</button>
                <!---Google button-->
                <button ion-button text-capitalize default-button hidden color="google" (click)="onEvent('onGoogle')">Google</button>
                <!---Pinterest button-->
                <button ion-button text-capitalize default-button hidden color="pinterest" (click)="onEvent('onPinterest')">Pinterest</button>
            </ion-col>
            <!---End Share Section-->
        </ion-row>
    </ion-grid>
</ion-content>
