<!--
  Generated template for the ReturnBatteryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title text-left>Return Battery</ion-title>
    </ion-navbar>
</ion-header>

<!--Content-->
<qrcode-layout-1 [data]="params.data">
</qrcode-layout-1>