<ion-header header-ios>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hired Batteries</ion-title>
</ion-navbar>
</ion-header>

<ion-content>
<swipe-to-dismiss-layout-1
     [data]="params.data"
     [events]="params.events">
   </swipe-to-dismiss-layout-1>
</ion-content>
