<!-- Themes Login + logo 2 -->
<ion-content has-header>
  <ion-grid no-padding *ngIf="data != null">
    <ion-row padding-horizontal align-self-center>
      <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <button ion-button button-clear text-capitalize clear float-left (click)="onEvent('onSkip')">{{data.skip}}</button>
        <button ion-button button-clear text-capitalize clear hidden float-right (click)="onEvent('onForgot')">{{data.forgotPassword}}</button>
      </ion-col>
      <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Logo-->
        <img [src]="data.logo">
        <!---Logo Subtitle-->
        <h2 login-subtitle no-margin>{{data.subtitle}}</h2>
        <!---Logo Title-->
        <h1 ion-text color="accent" login-title no-margin>{{data.title}}</h1>
      </ion-col>
      <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Input field username-->
        <ion-item no-padding margin-top>
          <ion-label color="dark" stacked>{{data.labelUsername}}</ion-label>
          <ion-input required type="text" placeholder="{{data.username}}" [(ngModel)]="username"></ion-input>
        </ion-item>
        <!---Input field password-->
        <ion-item no-padding hidden>
          <ion-label color="dark" stacked>{{data.labelPassword}}</ion-label>
          <ion-input required type="password" placeholder="{{data.password}}" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
      <!---Share Section-->
      <ion-col align-self-end bottom-form col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!---Login button-->
        <button ion-button default-button full text-capitalize (click)="onEvent('onLogin')">{{data.login}}</button>
        <!---Facebook button-->
        <button ion-button default-button full color="secondary" hidden text-capitalize block color="secondary"
        (click)="onEvent('onFacebook')">Login with Facebook</button>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6>
        <p text-right>Don't have account?</p>
      </ion-col>
      <ion-col col-6 col-sm-6 col-md-6>
        <button ion-button button-clear clear text-capitalize (click)="onEvent('onRegister')">{{data.register}}</button>
      </ion-col>
      <!---End Share Section-->
    </ion-row>
  </ion-grid>
</ion-content>
