<!--
  Generated template for the ProcessPaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Process Payment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<button hidden ion-item (click)="process()">
        Pay Now
      </button>
</ion-content>
