<ion-header header-ios>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Hired Batteries</ion-title>
</ion-navbar>
</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="green">Current Rentals</ion-item-divider>
              <ion-item border no-lines textIcon1">
            <!-- Title -->
            <h2 item-title>Test</h2>
            <!-- Subtitle -->
            <h3 item-subtitle>Hired from item.subtitle</h3>
            <h3 item-subtitle>Return item.subtitle2</h3>
            <!-- Details Item-->
            <ion-note item-end>item.textIcon</ion-note>
            <!-- Icon -->
            <ion-icon item-end color="primary" name="item.icon"></ion-icon>
          </ion-item>
              <ion-item border no-lines textIcon1">
            <!-- Title -->
            <h2 item-title>item.title</h2>
            <!-- Subtitle -->
            <h3 item-subtitle>Hired from item.subtitle</h3>
            <h3 item-subtitle>Return item.subtitle2</h3>
            <!-- Details Item-->
            <ion-note item-end>item.textIcon</ion-note>
            <!-- Icon -->
            <ion-icon item-end color="primary" name="item.icon"></ion-icon>
          </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="green">Past Rentals</ion-item-divider>
              <ion-item border no-lines textIcon1">
            <!-- Title -->
            <h2 item-title>item.title</h2>
            <!-- Subtitle -->
            <h3 item-subtitle>Hired from item.subtitle</h3>
            <h3 item-subtitle>Return item.subtitle2</h3>
            <!-- Details Item-->
            <ion-note item-end>item.textIcon</ion-note>
            <!-- Icon -->
            <ion-icon item-end color="primary" name="item.icon"></ion-icon>
          </ion-item>
              <ion-item border no-lines textIcon1">
            <!-- Title -->
            <h2 item-title>item.title</h2>
            <!-- Subtitle -->
            <h3 item-subtitle>Hired from item.subtitle</h3>
            <h3 item-subtitle>Return item.subtitle2</h3>
            <!-- Details Item-->
            <ion-note item-end>item.textIcon</ion-note>
            <!-- Icon -->
            <ion-icon item-end color="primary" name="item.icon"></ion-icon>
          </ion-item>
  </ion-item-group>
</ion-content>


<ion-list inset>
  <button ion-item [navPush]="detailsPage" *ngFor="let item of items" (click)="itemSelected(item)">
     item 
  </button>
</ion-list>

</ion-content>


