<!--- Theme Parallax - News -->
<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active':isClassActive()}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="data != null" text-left>{{data.headerTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<!--- Header Big Image-->
<ion-content elastic-header>
  <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + headerImage + ')'}">
    <div title-block *ngIf="data != null">
      <!--- Category -->
      <span new-category>{{data.category}}</span>
      <!--- Parallax Title -->
      <h1 parallax-title text-wrap>{{data.title}}</h1>
    </div>
  </ion-item>
  <ion-item-group *ngIf="data != null">
    <ion-item-divider border no-lines>
      <!--- Avatar -->
      <ion-avatar item-start>
        <img [src]="data.avatar" />
      </ion-avatar>
      <!-- Avatar Title -->
      <h2 item-subtitle>{{status}} {{today | date}}</h2>
      <!--- Button Share-->
  <ion-item [hidden]="hideButton">
    <button   ion-button item-end icon-left  (click)="initiateHireRequest()">
      <ion-icon name="md-checkmark-circle"></ion-icon>
      Rent Now
    </button>
  </ion-item>

    </ion-item-divider>
    <!-- Content -->
    <ion-list>
  <ion-list-header>
    Device Information
  </ion-list-header>
  <ion-item><h3>Capacity</h3>
    <p> 20,800 mAH </p>
  </ion-item>
  <ion-item><h3>Added On</h3>
    <p> Jan 01, 2017 </p>
  </ion-item>
<ion-item><h3>Model Number</h3>
    <p> MK-3452 </p></ion-item>
<ion-item><h3>Manufacturer</h3>
    <p> Zhang Wei Hardwares</p></ion-item>    
<ion-item><h3>Condition</h3>
    <p> Active </p></ion-item>
</ion-list>

