<!--
  Generated template for the RentalDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light-green">Specifics</ion-item-divider>
    

    <ion-item>
      <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
      Status
      <ion-note item-end>
      {{status}}
      </ion-note>
    </ion-item>


    <ion-item>
      <ion-icon name='ios-log-out-outline' item-start></ion-icon>
      Rent Out Time
      <ion-note item-end>
      Jan 16 @ 10:00 A.M.
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='ios-log-in-outline' item-start></ion-icon>
      Return Time
      <ion-note item-end>
      Jan 17 @ 10:00 A.M.
      </ion-note>
    </ion-item>

    <ion-item *ngIf="status == 'Pending Payment'">
      <ion-icon name='ios-alarm-outline' item-start></ion-icon>
      Time Left
      <ion-note item-end>
      {{'24 hours'}}
      </ion-note>
    </ion-item>

    <ion-item *ngIf="status == 'Pending Return'">
      <ion-icon name='ios-alarm-outline' item-start></ion-icon>
      Time Left
      <ion-note item-end>
      {{'18 hours'}}
      </ion-note>
    </ion-item>    

    <ion-item>
      <ion-icon name='ios-pin-outline' item-start></ion-icon>
      Location
      <ion-note item-end>
      Jatomi Fitness, KUL
      </ion-note>
    </ion-item>

  </ion-item-group>

  <ion-item-group>
    <ion-item-divider *ngIf="status && status != 'Payment Complete'" color="light-green">Payments</ion-item-divider>
    <ion-list inset *ngIf="status == 'Pending Payment'">

    <button ion-item (click)="addCard()">
    	<ion-icon name='ios-card' item-start></ion-icon>
    Choose Card
	<ion-icon name='ios-add-circle-outline' item-end></ion-icon>
  	</button>

<ion-item>
      Deposit Amount
      <ion-note item-end>
      500 Baht
      </ion-note>
    </ion-item>



    <button ion-item hidden>
    	<ion-icon name='ios-checkbox-outline' item-start></ion-icon>
    Pay Now
	<ion-note item-end>
      {{cardNumber}}
      </ion-note>
  	</button>

  <ion-item >
  	<button ion-button block (click)="processPayment()" >MAKE PAYMENT</button>
  </ion-item>

  	</ion-list>


<ion-list inset  *ngIf="status == 'Pending Return'">
<ion-item>
      Deposit Amount
      <ion-note item-end>
      500 Baht
      </ion-note>
    </ion-item>

    <ion-item>
      Rent Per Hour
      <ion-note item-end>
      20 Baht
      </ion-note>
    </ion-item>

    <ion-item>
      Hours Used
      <ion-note item-end>
      6
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-icon name='ios-cash-outline' item-start></ion-icon>
      Total Rent
      <ion-note item-end>
      120 Baht
      </ion-note>
    </ion-item>

    <button ion-item (click)="addCard()">
    	<ion-icon name='ios-card' item-start></ion-icon>
    Cards
	<ion-icon name='ios-add-circle-outline' item-end></ion-icon>
  	</button>

    <button ion-item hidden (click)="processPayment()">
    Pay Now
	<ion-note item-end>
      {{cardNumber}}
      </ion-note>
  	</button>

  <ion-item >
  	<button ion-button block (click)="processPayment()" >MAKE PAYMENT</button>
  </ion-item>

  	</ion-list>


  </ion-item-group>
<ion-card *ngIf="status == 'Payment Complete' && isDeposit">

  <ion-card-header>
    Note:
  </ion-card-header>

  <ion-card-content>
    Kindly return the battery before the return time to avoid any sur-charges.
  </ion-card-content>

</ion-card>


</ion-content>
