<!--
  Generated template for the AddCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Card</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
			 
			 <ion-label> <ion-icon name="ios-card-outline"></ion-icon> Set Default</ion-label>
	</ion-item>

<ion-list radio-group>
  <ion-item>
    <ion-label> 5428 3938 4292 2927</ion-label>
    <ion-radio checked="true" value="go"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label> 5428 6584 0643 4938</ion-label>
    <ion-radio value="rust"></ion-radio>
  </ion-item>
</ion-list>
<br><br>
<ion-item-divider color="light">Add Card</ion-item-divider>


<ion-list>

  <ion-item>
    <ion-label color="primary" floating>Enter Card Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Expiry Date</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="myDate"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>CVV</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-item >
  	<button ion-button block>ADD THIS CARD</button>
  </ion-item>

</ion-list>
	 



</ion-content>
