<!--
  Generated template for the RentalDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider color="light-green">Specifics</ion-item-divider>
    

    <ion-item>
      <ion-icon name='ios-information-circle-outline' item-start></ion-icon>
      Status
      <ion-note item-end>
      Return Complete
      </ion-note>
    </ion-item>


    <ion-item>
      <ion-icon name='ios-log-out-outline' item-start></ion-icon>
      Rent Out Time
      <ion-note item-end>
      Jan 16 @ 10:00 A.M.
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='ios-log-in-outline' item-start></ion-icon>
      Return Time
      <ion-note item-end>
      Jan 17 @ 12:00 P.M.
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='ios-pin-outline' item-start></ion-icon>
      Location
      <ion-note item-end>
      Jatomi Fitness, KUL
      </ion-note>
    </ion-item>

  </ion-item-group>


</ion-content>
